<nav class="space-y-8">
  <div>
    <h4 class="mb-1"><a href="#products" class="link-primary">Products</a></h4>
    <ul>
      <li>
        <a href="#get_products" class="link-primary">All products</a>
      </li>
      <li>
        <div class="ml-2 my-3">
          <h5 class="mt-1"><a href="#filters" class="link-primary">Filters</a></h5>
          <ul>
            <li><a href="#by_category" class="link-primary">Category</a></li>
            <li><a href="#by_brand" class="link-primary">Brand</a></li>
            <li><a href="#by_priceRange" class="link-primary">Price range</a></li>
            <!-- <li><a href="#by_minPrice" class="link-primary">Min price</a></li>
            <li><a href="#by_maxPrice" class="link-primary">Max price</a></li>
            <li><a href="#by_minMaxPrice" class="link-primary">Between min max price</a></li> -->
            <li><a href="#by_minDiscount" class="link-primary">Minimum discount</a></li>
            <li><a href="#by_minRating" class="link-primary">Minimum rating</a></li>
            <li><a href="#by_tags" class="link-primary">Product Tags</a></li>
            <li><a href="#sorting" class="link-primary">Sorting</a></li>
            <li><a href="#pagination" class="link-primary">Pagination</a></li>
          </ul>
        </div>
      </li>
      <li>
        <a href="#get_single_product" class="link-primary">Single product</a>
      </li>
      <li>
        <a href="#create_product" class="link-primary">Create new product</a>
      </li>
      <li>
        <a href="#edit_product_put" class="link-primary">Edit product - put</a>
      </li>
      <li>
        <a href="#edit_product_patch" class="link-primary">Edit product - patch</a>
      </li>
      <li>
        <a href="#delete_product" class="link-primary">Delete product</a>
      </li>
    </ul>
  </div>

  <div>
    <h4 id="categories">
      <a href="#categories" class="link-primary">Categories</a>
    </h4>
    <ul>
      <li>
        <a href="#get_categories" id="get_categories" class="link-primary">All categories</a>
      </li>
    </ul>
  </div>

</nav>