<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Home</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/styles/atom-one-dark.min.css">
  <link href="/css/tailwind.css" rel="stylesheet">

</head>

<body class="flex flex-col min-h-screen">
  <div class="grow max-w-[900px] sm:mx-auto sm:px-4">
    <%- include("partials/header") %>
      <main class="sm:px-4 space-y-16 mb-6">
        <section class="px-6 pt-16">
          <h1 class="mb-2">Welcome to DataboxAPI</h1>
          <h2 class="mb-4">Your go-to solution for rapid API prototyping and development testing</h2>
          <p class="mb-10">DataboxAPI provides free, ready-to-use fake APIs for testing and prototyping your
            applications
          </p>

          <h3 class="text-xl mb-4">Features</h3>
          <ul class="[&>*]:mb-3">
            <li>🚀 Ready-to-Use Endpoints: Pre-configured endpoints with realistic data</li>
            <li>🔄 RESTful Interface: Standard <b>GET, POST, PUT, DELETE</b> operations</li>
            <li>📊 Multiple Data Types: Access to users, posts, comments, products, and more</li>
            <li>⚡ Zero Configuration: Start making requests immediately</li>
          </ul>
        </section>
        <section class="px-6 py-4 space-y-4">
          <h3 class="text-3xl">Try it</h3>
          <%- include('partials/codeBlock', { code: ` fetch("https://databoxapi.com/api/products")
            .then(res=>res.json())
            .then(json => console.log(json))
            `}) %>
            <button class="btn btn-primary">Fetch</button>
        </section>

        <section class="px-6 py-4">
          <h2 class="text-3xl mb-6">Resources</h2>
          <p class="mb-4">Add <code>/api</code> to the path: <code>https://www.databoxapi/api/products</code></p>

          <dl class="pl-4 [&>div]:flex [&>div]:mb-2 [&_dt]:w-32 [&_a]:underline">
            <div>
              <dt><a href="/api/products">/products</a></dt>
              <dd>30 products</dd>
            </div>

            <div>
              <dt><a href="/api/categories">/categories</a></dt>
              <dd>8 categories</dd>
            </div>

            <div>
              <dt><a href="/api/brands">/brands</a></dt>
              <dd>brands</dd>
            </div>

            <div>
              <dt><a href="/api/users">/users</a></dt>
              <dd>30 users</dd>
            </div>
          </dl>
        </section>

        <section class="px-6 py-4 pb-12">
          <h2 class="text-3xl mb-6">Routes</h2>
          <p class="mb-4">Go to <a href="/docs" class="link link-primary">docs</a> to see the full examples</p>

          <dl class="pl-4 [&>div]:flex [&>div]:mb-2 [&_dt]:w-28 [&_a]:underline">
            <div>
              <dt>GET</dt>
              <dd><a href="/api/products">/products</a></dd>
            </div>

            <div>
              <dt>GET</dt>
              <dd><a href="/api/products/1">/products/1</a></dd>
            </div>

            <div>
              <dt>GET</dt>
              <dd><a href="/api/products?category=electronics">/products?category=electronics</a></dd>
            </div>

            <div>
              <dt>GET</dt>
              <dd><a href="/api/users">/users</a></dd>
            </div>
          </dl>
        </section>
      </main>
  </div>
  <div class="col-span-full">
    <%- include("partials/footer") %>
  </div>
</body>

</html>